body, html {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to bottom, #dfc8fd 0%,#baabff 40%,#72aaff 100%);
    height: 100%;
  }

  .logo {
    background-image: url('img/ernie.jpg');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  :root {
    text-size-adjust: 100%;
  }

  .active {
    color: pink;
  }
